body{
  background-color: #EAF6F6;
  color: #06113C;
  font-size: 100%;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;

}
img {
  height: 280px;
  width: 280px;
}
h3 {
  color: #66BFBF;
}
h1 {
  color: #66BFBF;
}
